target
bin
Makefile.in
Makefile
*.sh
*.sub
missing
configure
tags
depcomp
_*
*.log
*.la
*.so
*.a
.svn
.libs
*.o
*.lo
*.Plo
.lib
*.swp
*.Po
deps
*.out
*.Tpo
*.swm
*.swo
*.swk
*.bak
core.*
test_httpclient
test_httpserver
test_dense_bitmap
test_judy_bitmap
test_thread
