<?xml version="1.0" encoding="utf-8" ?>
<Root>
    <SendResultRetryTimes>3</SendResultRetryTimes>
    <FetchRequestRetryTimes>10</FetchRequestRetryTimes>

    <HttpServer>
        <ListenPort>10000</ListenPort>
        <RequestPath>
            <ProxyPush>/proxy_ping</ProxyPush>
            <FetchTask>/fetch_task</FetchTask>
        </RequestPath>
        <ConnectTimeoutSec>60</ConnectTimeoutSec>
    </HttpServer>

    <OutsideProxy>
        <Uri>http://103.240.16.119:9090/</Uri>
        <CheckIntervalSec>2</CheckIntervalSec>
        <ProxyErrorRate>0.4</ProxyErrorRate>
        <ErrorCacheTimeout>36000</ErrorCacheTimeout>
    </OutsideProxy>

    <PingProxy>
        <DeadIntervalSec>60</DeadIntervalSec>
        <ProxyErrorRate>1.0</ProxyErrorRate>
        <ErrorCacheTimeout>120</ErrorCacheTimeout>
        <Nodes></Nodes>
    </PingProxy>

    <HttpClient>
        <EthName>eth1</EthName>
        <MaxRequestSize>100000</MaxRequestSize>
        <MaxResultSize>100000</MaxResultSize>
        <MaxTimeoutSec>3600</MaxTimeoutSec>
    </HttpClient>

</Root>
